
@{
    ViewData["Title"] = "_LayouNVRD                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ";
    Layout = "~/Views/Shared/_LgingLgout.cshtml";
}

<h1>_LayouNVRS</h1>

